* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(21, 33, 83);
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 1rem;
    background: rgb(21, 33, 83);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(172, 156, 156, 0.35);
    border-radius: 10px;
  }
  
  body {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      -180deg,
      rgb(21, 33, 83) 0%,
      rgb(33, 33, 156) 35%,
      rgb(247, 160, 48) 100%
    );
    width: 100%;
    overflow-x: hidden;
  }
  
  /* HEADER */
  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(224, 111, 18, 0.5);
    background-color: rgb(21, 34, 92);
    padding: 1rem;
    width: 100%;
  }
  
  .superiorEsquerda a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    text-decoration: none;
  }
  .iconHamb {
    width: 2rem;
  }
  
  h1 {
    color: white;
    font-size: 1rem;
  }
  
  h1:hover {
    color: orange;
  }
  .meioHeader {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .meioHeader > .a {
    text-decoration: none;
    color: white;
  }
  .meioHeader > .a:hover {
    text-decoration: none;
    color: white;
  }
  .meioHeader > a:hover {
    text-decoration: none;
    color: white;
  }
  
  .meioHeader a:visited {
    text-decoration: none;
    color: white;
  }
  .superiorDireita {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
  }
  .superiorDireita .material-symbols-outlined {
    cursor: pointer;
  }
  
  .telefone {
    font-size: 0.9rem;
  }